/* @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100&display=swap'); */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  font-family: 'Poppins', sans-serif;
}

.container {
  height: 400px;
  width: 1000px;
  margin: 120px auto;
  display: flex;
  background: #ccc;
}

.col {
  height: 100%;
  flex: 1;
  color: #fff;
  box-sizing: border-box;
  padding: 25px;
  position: relative;
  transition: 0.6s;
}

.col:nth-child(1) {
  background: #283491;
}

.col:nth-child(2) {
  background: #f18684;
}

.col:nth-child(3) {
  background: #6ee2f1;
}

.col:nth-child(4) {
  background: #196ae5;
}
h2 {
  text-align: center;
  font-weight: 600;
  font-size: 22px;
}

.caption {
  max-width: 230px;
  font-size: 12px;
  margin: 28px 0;
  display: none;
}
.caption button {
  border: 1px solid #fff;
  background: transparent;
  outline: none;
  padding: 8px 18px;
  color: #fff;
  border-radius: 30px;
  margin-top: 20px;
  font-size: 12px;
  cursor: pointer;
}

.col img {
  width: 200px;
  position: absolute;
  right: 0;
  bottom: 0;
}

.col:hover {
  flex-grow: 2.5;
}

.col:hover .caption {
  display: block;
}

.col:hover h2 {
  text-align: left;
}
